---
import Footer from "@components/Footer.astro";
---

<footer id="contact">
  <div class="shadow top"></div>

  <div class="container">
    <h2>Stay in touch</h2>

    <p>Untyped is no longer trading but you can still reach its founders:</p>

    <dl>
      <dt>Dave Pereira-Gurnell</dt>
      <dd>
        Scala training at <a href="https://spacecat.io"> Spacecat </a><br />
        Mapping software at <a href="https://cartographer.io"> Cartographer </a>
      </dd>

      <dt>Noel Welsh</dt>
      <dd>
        Scala consultancy and training at <a href="https://inner-product.com">
          Inner Product
        </a>
      </dd>
    </dl>

    <p class="copyright">
      Copyright 2009 to 2017 <a href="/">Untyped Ltd</a>.
      <a href="/terms" class="nocolor">Terms of use</a>.
    </p>
  </div>
</footer>
