---
import Footer from "@components/Footer.astro";
---

<footer id="contact">
  <div class="shadow top"></div>

  <div class="container">
    <h2>Stay in touch</h2>

    <dl>
      <dt>Telephone</dt>
      <dd><a href="callto:+441212857400">0121 285 7400</a></dd>

      <dt>Email</dt>
      <dd>
        <span class="email"
          ><span class="recipient">info</span> at <span class="domain"
            >untyped</span
          ></span
        >
      </dd>

      <dt>Twitter</dt>
      <dd><a href="http://twitter.com/untyped">@untyped</a></dd>

      <dt>Address</dt>
      <dd>
        <address>
          Untyped<br />
          The Skiff<br />
          30 Cheapside<br />
          Brighton BN1 4GD
        </address>
      </dd>

      <dt>UK company number</dt>
      <dd>06226466</dd>

      <dt>UK VAT number</dt>
      <dd>941 0528 46</dd>
    </dl>

    <p class="copyright">
      Copyright 2009 to 2017 <a href="/">Untyped Ltd</a>.
      <a href="/terms" class="nocolor">Terms of use</a>.
    </p>
  </div>
</footer>
