---
---
<section id="underscore">
  <div class="shadow top"></div>

  <div class="container">
    <h2>
      <a href="http://underscore.io/">
        <img
          class="logo"
          style="max-width: 360px"
          src="/styles/images/underscore-logo-text-below.png"
          alt="Underscore"
        />
      </a>
    </h2>

    <div class="row">
      <div class="span6">
        <p>
          Untyped is a founding partner of <a href="http://underscore.io/"
            >Underscore</a
          > - a team of Scala experts providing consultancy, training, and software
          development services to businesses of all sizes.
        </p>
      </div>

      <div class="span6">
        <p>
          We run regular public and on-site training courses in Scala, Play,
          and agile development. See our <a href="http://underscore.io/"
            >web site</a
          > for details and bookings.
        </p>
      </div>
    </div>
  </div>
</section>