---
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html id="untyping" lang="en">
  <head>
    <title>Setting the run.mode in Lift web apps - Untyping</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/styles/screen.css" />
  </head>

  <body class="myna" data-goal="load">
    <header id="top">
      <div class="container">
        <div class="row">
          <div class="span5 offset7">
            <div class="overlay title">
              <a href="/untyping">
                <h1>
                  <img src="/styles/images/untyping-logo.png" alt="Untyping" />
                </h1>
                <span class="strapline">The Untyped Weblog.</span>
              </a>
            </div>

            <div class="overlay about">
              Read on or <a href="/">return home.</a>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow bottom"></div>
    </header>

    <div id="navbar-wrapper">
      <nav id="navbar" class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li><a href="/#top">Home</a></li>
              <li><a href="/untyping">Weblog</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="shadow-wrapper">
      <div class="shadow top light"></div>

      <div class="container">
        <div class="row">
          <div id="blog" class="span10">
            <section
              id="post-30"
              class="post-30 post type-post status-publish format-standard hentry category-code category-scala category-web-development"
            >
              <div class="row">
                <div class="span2 meta">
                  <p class="date">2 Mar 2011</p>
                  <p class="author">by Dave</p>
                </div>

                <div class="span8">
                  <h2>
                    <a
                      href="/untyping/2011/03/02/setting-the-run-mode-in-lift-web-apps/"
                      rel="bookmark"
                      title="Permanent Link to Setting the run.mode in Lift web apps"
                      >Setting the run.mode in Lift web apps</a
                    >
                  </h2>

                  <div class="entry">
                    <p>
                      <strong
                        >Update: You can now set the run mode easy and
                        conveniently using our <a
                          href="https://github.com/untyped/sbt-plugins/tree/master/sbt-runmode"
                          >sbt-runmode</a
                        > plugin for SBT.</strong
                      >
                    </p>
                    <div>
                      <p>
                        Setting the <a
                          href="http://www.assembla.com/wiki/show/liftweb/Run_Modes"
                          ><code>run.mode</code></a
                        > in Lift applications is the source of a surprising
                        number of questions. The documentation recommends
                        passing it as a parameter when the JVM is invoked. This
                        can be hard to achieve for various reasons. In our case
                        our deployment is automated using <a
                          href="http://www.opscode.com/">Chef</a
                        >, and scripts to start and stop the Jetty web server
                        are installed by the package manager. We don’t really
                        want to monkey around with these scripts, so we had to
                        find another way. Jetty is written in Java, which means
                        it must have a ridiculously complex XML configuration
                        language. The Jetty developers turned it up to 11 by
                        making their configuration language Turing complete, so
                        we can actually set the system properties in a
                        configuration file. The file we want to create is<code
                          >WEB-INF/jetty-web.xml</code
                        > and we want it to contain this:
                      </p>
                      <p>&nbsp;</p>
                      <div id="gist-851037">
                        <div>
                          <div>
                            <div>
                              <div id="LC1">
                                &lt;?xml version=&#8221;1.0&#8243;?&gt;
                              </div>
                              <div id="LC2">
                                &lt;!DOCTYPE Configure PUBLIC &#8220;-//Mort Bay
                                Consulting//DTD Configure//EN&#8221;
                                &#8220;http://jetty.mortbay.org/configure.dtd&#8221;&gt;
                              </div>
                              <div id="LC3">
                                &lt;Configure
                                class=&#8221;org.mortbay.jetty.webapp.WebAppContext&#8221;&gt;
                              </div>
                              <div id="LC4">
                                &lt;Call class=&#8221;java.lang.System&#8221;
                                name=&#8221;setProperty&#8221;&gt;
                              </div>
                              <div id="LC5">
                                &lt;Arg&gt;run.mode&lt;/Arg&gt;
                              </div>
                              <div id="LC6">
                                &lt;Arg&gt;production&lt;/Arg&gt;
                              </div>
                              <div id="LC7">&lt;/Call&gt;</div>
                              <div id="LC8">&lt;/Configure&gt;</div>
                            </div>
                          </div>
                          <div>
                            <a
                              href="https://gist.github.com/raw/851037/c5a9010f6878f41cf1076b0b3ee93560c1aa374a/jetty-web.xml"
                              >view raw</a
                            ><a
                              href="https://gist.github.com/851037#file_jetty_web.xml"
                              >jetty-web.xml</a
                            ><a href="https://gist.github.com/851037"
                              >This Gist</a
                            > brought to you by <a href="http://github.com/"
                              >GitHub</a
                            >.
                          </div>
                        </div>
                      </div>
                      <p>&nbsp;</p>
                      <p>
                        If we leave this around then our application will always
                        run in production mode. We don’t want this when we’re
                        developing as we won’t, for instance, get stack traces
                        printed to the browser. Thus we should copy this file in
                        when we package up the project, and remove it when the
                        packaging step completes. Assuming you’re using SBT,
                        store the above text in <code
                          >project/jetty-web.xml</code
                        > and add the following to your SBT project file to get
                        this functionality:
                      </p>
                      <p>&nbsp;</p>
                      <div id="gist-851037">
                        <div>
                          <div>
                            <div>
                              <div id="LC1">
                                val jettyWebPath = &#8220;src&#8221; /
                                &#8220;main&#8221; / &#8220;webapp&#8221; /
                                &#8220;WEB-INF&#8221; /
                                &#8220;jetty-web.xml&#8221;
                              </div>
                              <div id="LC2"></div>
                              <div id="LC3">
                                lazy val installProductionRunMode = task &#123;&#125;
                                <div id="LC4">
                                  FileUtilities.copyFile(&#8220;project&#8221; /
                                  &#8220;jetty-web.xml&#8221;,
                                </div>
                                <div id="LC5">jettyWebPath,</div>
                                <div id="LC6">log)</div>
                                <div id="LC7">
                                  log.info(&#8220;Copied jetty-web.xml into
                                  place&#8221;)
                                </div>
                                <div id="LC8">None</div>
                                <div id="LC9"></div> describedAs(&#8220;Install a
                                jetty-web.xml that sets the run mode to production&#8221;)
                              </div>
                              <div id="LC10"></div>
                              <div id="LC11">
                                lazy val superPackage = super.packageAction
                                dependsOn(installProductionRunMode)
                              </div>
                              <div id="LC12"></div>
                              <div id="LC13">
                                lazy val removeProductionRunMode = task &#123;&#125;
                                <div id="LC14">
                                  FileUtilities.clean(jettyWebPath, log)
                                </div>
                                <div id="LC15">None</div>
                                <div id="LC16"></div> describedAs(&#8220;Remove jetty-web.xml
                                and hence set run mode back to testing&#8221;)
                              </div>
                              <div id="LC17"></div>
                              <div id="LC18">
                                override def packageAction =
                                removeProductionRunMode dependsOn(superPackage)
                                describedAs
                                BasicWebScalaProject.PackageWarDescription
                              </div>
                            </div>
                          </div>
                          <div>
                            <a
                              href="https://gist.github.com/raw/851037/b5bb3e118e97dfe443d9b8b26a3fca011c8d25e7/Project.scala"
                              >view raw</a
                            ><a
                              href="https://gist.github.com/851037#file_project.scala"
                              >Project.scala</a
                            ><a href="https://gist.github.com/851037"
                              >This Gist</a
                            > brought to you by <a href="http://github.com/"
                              >GitHub</a
                            >.
                          </div>
                        </div>
                      </div>
                      <p>&nbsp;</p>
                      <p>
                        This is pretty simple code. Basically it redefines the <code
                          >package</code
                        > action to first copy in the <code>jetty-web.xml</code
                        > file, then it runs the original package action, and
                        finally it deletes the <code>jetty-web.xml</code>. Now
                        any <code>WAR</code>files you run under Jetty will
                        automatically be in production mode, but calling<code
                          >sbt jetty-run</code
                        > will still give you development mode.
                      </p>
                    </div>
                  </div>

                  <p class="tags">
                    Posted in
                    <a href="/untyping/category/code/" rel="category tag"
                      >Code</a
                    >,
                    <a href="/untyping/category/scala/" rel="category tag"
                      >Scala</a
                    >,
                    <a
                      href="/untyping/category/web-development/"
                      rel="category tag">Web development</a
                    >
                    |
                    <span
                      >Comments Off<span class="screen-reader-text">
                        on Setting the run.mode in Lift web apps</span
                      ></span
                    >
                  </p>

                  <p class="postmetadata alt">
                    <small>
                      This entry was posted on Wednesday, March 2nd, 2011 at
                      8:11 pm and is filed under
                      <a href="/untyping/category/code/" rel="category tag"
                        >Code</a
                      >,
                      <a href="/untyping/category/scala/" rel="category tag"
                        >Scala</a
                      >,
                      <a
                        href="/untyping/category/web-development/"
                        rel="category tag">Web development</a
                      >. You can follow any responses to this entry through the
                      <a
                        href="/untyping/2011/03/02/setting-the-run-mode-in-lift-web-apps/feed/"
                        >RSS 2.0</a
                      >
                      feed. Both comments and pings are currently closed.
                    </small>
                  </p>

                  <!-- You can start editing here. -->

                  <!-- If comments are closed. -->
                  <p class="nocomments">Comments are closed.</p>
                </div>
              </div>
            </section>

            <nav>
              <div class="row">
                <div class="span8 offset2">
                  <span class="newer">&laquo; Newer Entry</span>
                  <span class="older">Older Entry &raquo;</span>
                  <div class="clear"></div>
                </div>
              </div>
            </nav>
          </div>
          <div class="span2">
            <div id="sidebar" class="small column two-of-two width300">
              <ul>
                <li id="recent-posts-2" class="widget widget_recent_entries">
                  <h2 class="widgettitle">Recent Posts</h2>
                  <ul>
                    <li>
                      <a
                        href="/untyping/2013/08/07/writing-documentation-using-grunt-and-jekyll/"
                        >Writing Documentation using Grunt and Jekyll</a
                      >
                    </li>
                    <li>
                      <a href="/untyping/2012/10/19/meanwhile-at-untyped-hq/"
                        >Meanwhile, at Untyped HQ&#8230;</a
                      >
                    </li>
                    <li>
                      <a href="/untyping/2012/08/28/new-site/">New site</a>
                    </li>
                    <li>
                      <a
                        href="/untyping/2012/06/06/myna-for-wordpress-available-now/"
                        >Myna for WordPress available now!</a
                      >
                    </li>
                    <li>
                      <a href="/untyping/2011/10/20/the-circus-is-in-town/"
                        >The Circus is in Town</a
                      >
                    </li>
                  </ul>
                </li>
                <li
                  id="recent-comments-2"
                  class="widget widget_recent_comments"
                >
                  <h2 class="widgettitle">Recent Comments</h2>
                  <ul id="recentcomments"></ul>
                </li>
                <li id="archives-2" class="widget widget_archive">
                  <h2 class="widgettitle">Archives</h2>
                  <ul>
                    <li><a href="/untyping/2013/08/">August 2013</a></li>
                    <li><a href="/untyping/2012/10/">October 2012</a></li>
                    <li><a href="/untyping/2012/08/">August 2012</a></li>
                    <li><a href="/untyping/2012/06/">June 2012</a></li>
                    <li><a href="/untyping/2011/10/">October 2011</a></li>
                    <li><a href="/untyping/2011/09/">September 2011</a></li>
                    <li><a href="/untyping/2011/08/">August 2011</a></li>
                    <li><a href="/untyping/2011/05/">May 2011</a></li>
                    <li><a href="/untyping/2011/03/">March 2011</a></li>
                    <li><a href="/untyping/2011/02/">February 2011</a></li>
                    <li><a href="/untyping/2011/01/">January 2011</a></li>
                    <li><a href="/untyping/2010/12/">December 2010</a></li>
                    <li><a href="/untyping/2010/11/">November 2010</a></li>
                    <li><a href="/untyping/2010/10/">October 2010</a></li>
                    <li><a href="/untyping/2010/07/">July 2010</a></li>
                    <li><a href="/untyping/2010/06/">June 2010</a></li>
                    <li><a href="/untyping/2010/05/">May 2010</a></li>
                    <li><a href="/untyping/2010/04/">April 2010</a></li>
                    <li><a href="/untyping/2010/03/">March 2010</a></li>
                    <li><a href="/untyping/2010/02/">February 2010</a></li>
                    <li><a href="/untyping/2010/01/">January 2010</a></li>
                    <li><a href="/untyping/2009/07/">July 2009</a></li>
                    <li><a href="/untyping/2009/06/">June 2009</a></li>
                    <li><a href="/untyping/2009/04/">April 2009</a></li>
                    <li><a href="/untyping/2009/03/">March 2009</a></li>
                    <li><a href="/untyping/2009/01/">January 2009</a></li>
                    <li><a href="/untyping/2008/11/">November 2008</a></li>
                    <li><a href="/untyping/2008/10/">October 2008</a></li>
                    <li><a href="/untyping/2008/09/">September 2008</a></li>
                    <li><a href="/untyping/2008/08/">August 2008</a></li>
                    <li><a href="/untyping/2008/07/">July 2008</a></li>
                    <li><a href="/untyping/2008/06/">June 2008</a></li>
                    <li><a href="/untyping/2008/05/">May 2008</a></li>
                    <li><a href="/untyping/2008/04/">April 2008</a></li>
                    <li><a href="/untyping/2008/03/">March 2008</a></li>
                    <li><a href="/untyping/2008/02/">February 2008</a></li>
                    <li><a href="/untyping/2008/01/">January 2008</a></li>
                    <li><a href="/untyping/2007/12/">December 2007</a></li>
                    <li><a href="/untyping/2007/11/">November 2007</a></li>
                    <li><a href="/untyping/2007/10/">October 2007</a></li>
                    <li><a href="/untyping/2007/09/">September 2007</a></li>
                    <li><a href="/untyping/2007/08/">August 2007</a></li>
                    <li><a href="/untyping/2007/07/">July 2007</a></li>
                    <li><a href="/untyping/2007/06/">June 2007</a></li>
                    <li><a href="/untyping/2007/05/">May 2007</a></li>
                    <li><a href="/untyping/2007/04/">April 2007</a></li>
                    <li><a href="/untyping/2007/03/">March 2007</a></li>
                    <li><a href="/untyping/2007/02/">February 2007</a></li>
                    <li><a href="/untyping/2007/01/">January 2007</a></li>
                    <li><a href="/untyping/2006/12/">December 2006</a></li>
                    <li><a href="/untyping/2006/11/">November 2006</a></li>
                    <li><a href="/untyping/2006/10/">October 2006</a></li>
                    <li><a href="/untyping/2006/09/">September 2006</a></li>
                    <li><a href="/untyping/2006/08/">August 2006</a></li>
                    <li><a href="/untyping/2006/07/">July 2006</a></li>
                    <li><a href="/untyping/2006/06/">June 2006</a></li>
                    <li><a href="/untyping/2006/05/">May 2006</a></li>
                    <li><a href="/untyping/2006/04/">April 2006</a></li>
                    <li><a href="/untyping/2006/03/">March 2006</a></li>
                    <li><a href="/untyping/2006/02/">February 2006</a></li>
                    <li><a href="/untyping/2006/01/">January 2006</a></li>
                    <li><a href="/untyping/2005/12/">December 2005</a></li>
                    <li><a href="/untyping/2005/11/">November 2005</a></li>
                    <li><a href="/untyping/2005/10/">October 2005</a></li>
                    <li><a href="/untyping/2005/09/">September 2005</a></li>
                    <li><a href="/untyping/2005/08/">August 2005</a></li>
                    <li><a href="/untyping/2005/07/">July 2005</a></li>
                    <li><a href="/untyping/2005/06/">June 2005</a></li>
                    <li><a href="/untyping/2005/05/">May 2005</a></li>
                    <li><a href="/untyping/2005/04/">April 2005</a></li>
                  </ul>
                </li>
                <li id="categories-2" class="widget widget_categories">
                  <h2 class="widgettitle">Categories</h2>
                  <ul>
                    <li class="cat-item cat-item-10">
                      <a href="/untyping/category/business/">Business</a>
                    </li>
                    <li class="cat-item cat-item-7">
                      <a href="/untyping/category/code/">Code</a>
                    </li>
                    <li class="cat-item cat-item-11">
                      <a href="/untyping/category/design/">Design</a>
                    </li>
                    <li class="cat-item cat-item-3">
                      <a href="/untyping/category/front-page/">Front page</a>
                    </li>
                    <li class="cat-item cat-item-9">
                      <a href="/untyping/category/fun/">Fun</a>
                    </li>
                    <li class="cat-item cat-item-6">
                      <a href="/untyping/category/functional-programming/"
                        >Functional Programming</a
                      >
                    </li>
                    <li class="cat-item cat-item-1">
                      <a href="/untyping/category/general/">General</a>
                    </li>
                    <li class="cat-item cat-item-12">
                      <a href="/untyping/category/javascript/">Javascript</a>
                    </li>
                    <li class="cat-item cat-item-14">
                      <a href="/untyping/category/kahu/">Kahu</a>
                    </li>
                    <li class="cat-item cat-item-4">
                      <a href="/untyping/category/myna/">Myna</a>
                    </li>
                    <li class="cat-item cat-item-13">
                      <a href="/untyping/category/racket/">Racket</a>
                    </li>
                    <li class="cat-item cat-item-8">
                      <a href="/untyping/category/scala/">Scala</a>
                    </li>
                    <li class="cat-item cat-item-5">
                      <a href="/untyping/category/web-development/"
                        >Web development</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Footer />

    <script
      src="http://www.google-analytics.com/urchin.js"
      type="text/javascript"></script>
    <script type="text/javascript">
      _uacct = "UA-183641-1";
      urchinTracker();
    </script>
    <script is:inline src="//code.jquery.com/jquery-1.8.0.min.js"></script>
    <script is:inline src="/scripts/untyped.js"></script>

    <script
      type="text/javascript"
      src="/wp-includes/js/comment-reply.min.js?ver=6.6.2"
      id="comment-reply-js"
      async="async"
      data-wp-strategy="async"></script>
  </body>
</html>
